body{
    background-image: url(img/daniel-josef-AMssSjUaTY4-unsplash.jpg);
    background-size: 180% auto;
}
*{
    color: white;
    font-style: oblique;
    font-weight: 300;
}
h1{
    font-weight: 700;
    background-color: red;
    width: 200px;
    border-radius: 40px;
    opacity: 80%;
    text-align: center;
}
h2{
    font-weight: 400;
    background-color: red;
    width: 210px;
    border-radius: 20px;
    opacity: 75%;
    text-align: center;
}
p{
    background-color: red;
    width: auto;
    border-radius: 5px;
    opacity: 70%;
    text-align: center;
}
table{
    text-align: center;
}
form{
    width: 200px;
}
input[type="text"], textarea, input[type="submit"]{
    background-color: brown;
}
button{
    opacity: 40%;
    background-color: white;
    border-radius: 10px;
}
